// colorProject
$project-primary: green ;
$project-secondary: #05F3EA;

// auxiliary Colors
$project-auxiliary1: rgb(44, 77, 75);
$project-auxiliary2: gray;
$project-auxiliary3: yellow;
$project-auxiliary4: pink;
$project-auxiliary5: brown;
$project-auxiliary6: brown;
$project-auxiliary7: brown;
$project-auxiliary8: brown;


// aqui só altere se for pedido
// SoulcodeColors
$soulcode-primary: #FFD900 !default;
$soulcode-secondary: #36A5C3 !default;
$soulcode-success: #6DD4B5 !default;
$soulcode-danger: #FF999D !default;
$soulcode-warning: #FFB166 !default;